.App {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 10%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: xx-small;
}