
.header {
  position: relative;
  display: flex;
  top: 0;
  height: 15vh;
  background-color: royalblue;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  height: 15vh;
  background-color: aqua;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.nav {
  position: relative;
  float: right;
  width: 15vw;
  height: 70vh;
  background-color: pink;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3em;
  align-items: center;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  height: 70vh;
}