.App {
 text-align: center;
}

.App > button {
  height: 3em;
  margin: 50px;
}

.containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-left: 20px;
  margin-right: 20px; */
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}