.header {
  background-color: red;
  height: 15vh;
}

.left {
  background-color: salmon;
  height: 100%;
  width: 100%;
}

.center {
  background-color: aquamarine;
  height: 100%;
  width: 100%;
}


.right {
  background-color: lightslategray;
  height: 100%;
  width: 100%;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: space-around;
}

.footer {
  background-color: blue;
  position: relative;
  height: 15vh;
}