.header {
  background-color: red;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 70vh;
}

.container-left {
  background-color: aqua;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-center {
  background-color: sandybrown;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-right {
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  width: 100%;
}

.ul-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 100px; */
}

.ul-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 100px;
}


.ul-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 100px;
}


.footer {
  background-color: blue;
}

ul {
  list-style-type: none;
}